fastapi==0.115.0
uvicorn[standard]==0.30.6
streamlit==1.37.1
pinecone-client==5.0.1
psycopg2-binary==2.9.9
sqlalchemy==2.0.34
sentence-transformers==3.0.1
google-generativeai==0.7.2
python-multipart==0.0.9
pypdf==4.3.1
python-docx==1.1.2
python-dotenv==1.0.1
pandas==2.2.2
requests==2.32.3
aiofiles==24.1.0
pydantic==2.8.2
plotly==5.23.0
